---
title: GitLab Technical Certifications - Self Paced
suppress_header: true
description: "Validate and showcase your expertise with GitLab Technical Certifications"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Technical Certifications
    %h2.headline-subtitle
      Validate and showcase your GitLab expertise

= partial "includes/education-services-deprecated"

