---
title: GitLab CI/CD Training
suppress_header: true
description: "Learn how to set up continuous Integration/Continuous Deployment (CI/CD) for your software production projects to improve product delivery times and quality"
extra_css:
  - services.css
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    %h1 GitLab Education Services

= partial "includes/education-services-deprecated"