---
title: Education Services
suppress_header: true
description: "GitLab Education Services"
extra_css:
  - services.css
---

.wrapper
  .simple-header
    %h1
      GitLab Education Services
    %h2.headline-subtitle
      Transform Your Team into DevSecOps Champions with GitLab Training

.services-inner
  .page-container.container
    %ol.breadcrumb
      %li
      = breadcrumbs(current_page)
    .row
      .col-md-10.col-md-offset-1.tile
        %h2 Overview:
        %p The landscape of software development and operations is increasingly complex, necessitating not only the right tools but also a deep understanding and proficient use of those tools. GitLab Education Services specializes in product training, designed to equip your team with the knowledge and practical skills needed to fully leverage GitLab. Our curriculum is focused on hands-on learning and real-world applications, enabling your team to enhance workflow efficiency and achieve outstanding project outcomes. Through our targeted training programs, your team will develop the expertise required to navigate the GitLab platform effectively, utilizing its comprehensive features to optimize your development and operations processes.

        %h2 Why GitLab Education Services?
        %p Adopt and Accelerate
        %ul
          %li
            Team training on GitLab features, capabilities, and best practices 
          %li
            Fundamentals of Git, CI/CD, security, DevOps, and Duo to support continual learning
          %li
            Role-based learning paths across the delivery lifecycle to accelerate time-to-value
        %p Upskill and Enable
        %ul
          %li
            Instructor-led and self-paced training options
          %li
            Train-the-trainer program to cost-effectively scale learning and enablement
          %li
            Technical certifications to encourage skills growth and recognition
        %p Modernize and Transform
        %ul
          %li
            DevOps modernization across the build, package, test, release, and deploy lifecycle
          %li
            DevSecOps transformation with shift-left security automation and best practices
          %li
            Scaling the software factory with tools consolidation and new ways of working
        
        %h2 Who Benefits from Our Services?
        %p Our training is designed for individuals or teams eager to improve their understanding and application of GitLab and DevSecOps principles. Whether you're starting from scratch or looking to deepen existing knowledge, our training programs are structured to provide valuable insights and practical skills.

        %h2 Instructor-Led Training:
        %p We believe in learning by doing. Our instructor-led training sessions, available both on-site and remote, are delivered by seasoned trainers who provide transformative learning experiences that are both flexible and tailored to meet your team's unique needs.
        %p Here are the standard courses we offer.
        %ul
          - data.learn.learn.select{|course| course.maintainer == "PS Education Services" && course.confidentiality == "Public" && course.assessment == "None" && course.live_date && Date.parse(course.live_date) <= Date.today}.each do |course|
            %li
              %a{href: "#{course.url}"}
                #{course.name}
        %p
          We also provides a scalable solution for teams looking to extend their training capabilities and build internal experts with the
          %a{href: '/services/education/train-the-trainer/'}
            Train the Trainer
          option.
        %p
          Discover the breadth of our Global Services by visiting the 
          %a{href: '/services/catalog/'}
            Full Catalog page.
        
        %h2 Self-paced Learning:
        %p For those who prefer to learn at their own pace, <a href="https://university.gitlab.com/">GitLab University</a> offers content to help developers and practitioners stay ahead of the curve with the latest in DevSecOps education. 
        %p Free access to a wide range of content covering everything from GitLab fundamentals to advanced DevSecOps practices, enabling users to learn at their own pace.

        %h2 GitLab Professional Certification:
        %p GitLab Certification program validates and recognizes the technical proficiency of individuals using GitLab, enhancing their professional credibility. Certification opportunities on the <a href="https://university.gitlab.com/pages/certifications">Certifications</a> page.
        %p Benefits:
        %ul
          %li
            Ensure all team members speak a common language when working with GitLab
          %li
            Support continuing growth by encouraging GitLab users to become GitLab experts
          %li
            Improve productivity by ensuring that team members have the skills that they need to work effectively with GitLab



= partial "includes/services-contact-form"
